<div class="ngx-datepicker-container">
  <input type="text" class="ngx-datepicker-input" [(ngModel)]="displayValue" readonly (click)="toggle()">
  <div class="ngx-datepicker-calendar-container" *ngIf="isOpened">
    <div class="topbar-container">
      <span class="icon-arrow-left" (click)="prevMonth()" [style.visibility]="isPrevMonthAvailable ? 'visible' : 'hidden'"></span>
      <span class="topbar-title">{{ barTitle }}</span>
      <span class="icon-arrow-right" (click)="nextMonth()"></span>
    </div>
    <div class="main-calendar-container">
      <div class="main-calendar-day-names">
        <span class="day-name-unit" *ngFor="let name of dayNames">{{ name }}</span>
      </div>
      <div class="main-calendar-days">
        <span 
          class="day-unit"
          *ngFor="let day of days; let i = index;"
          [ngClass]="{ 
            'is-prev-month': !day.inThisMonth, 
            'is-past': day.isPast, 
            'is-selected': day.isSelected,
            'is-disabled': day.isDisabled
          }"
          (click)="!day.isPast && !day.isDisabled && setDate(i)">
            {{ day.day }}
          </span>
      </div>
      <div class="main-calendar-hours">
        <div
          class="hour-unit is-disabled"
          *ngFor="let hour of hours; let i = index;"
          [ngClass]="{
            'is-disabled': hour.isDisabled,
            'is-selected': hour.isSelected
          }"
          >
          {{ hour.hour }}
        </div>
      </div>
    </div>
  </div>
</div>
